    * {
        user-select: none;
    }
    
    body {
        overflow: hidden;
    }
    
    @font-face {
        font-family: UTM_AVOBOLD;
        src: url("resources/fonts/UTM AVOBOLD.TTF");
    }
    
    @font-face {
        font-family: UTM_HELVE;
        src: url("resources/fonts/UTM HELVE.TTF");
    }
    
    @font-face {
        font-family: UTM_AVO;
        src: url("resources/fonts/UTM AVO.TTF");
    }
    
    @font-face {
        font-family: UTM_HELVEBOLD;
        src: url("resources/fonts/UTM HELVEBOLD.TTF");
    }
    
    .utm_avobold {
        font-family: UTM_AVOBOLD;
    }
    
    .price-color {
        color: #c40700;
        font-size: calc(0.03 * var(--font-size-ratio));
    }
    
    .detail-info-font {
        font-size: calc(0.015 * var(--font-size-ratio));
        color: #f1eea4;
    }
    
    .header-price-font {
        font-family: UTM_HELVEBOLD;
        font-size: calc(0.03 * var(--font-size-ratio));
        color: #fef0ab;
        /*fee367 -> #FFF*/
    }
    
    .lower-price-font {
        font-family: UTM_AVOBOLD;
        font-size: calc(0.026 * var(--font-size-ratio));
        color: #fcfbda;
        stroke: #562a00;
        stroke-width: calc(0.01 * var(--font-size-ratio));
        -webkit-text-stroke: calc(0.0015 * var(--font-size-ratio)) #562a00;
        transform: scale(1, 1.05);
    }
    
    div.cross-font {
        text-decoration: line-through;
        height: 100%;
    }
    
    .panel-container {
        background: url("resources/khung nap the.png");
        background-size: 100% 100%;
        width: 100%;
        height: 0;
        padding-bottom: 80.66%;
        position: relative;
    }
    
    .panel-container .normal-text {
        text-align: center;
        position: absolute;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        font-family: UTM_AVOBOLD;
    }
    
    .panel-container>.content-container {
        box-sizing: border-box;
        height: 100%;
        padding: 0;
        margin: 0;
        inset: 1.5% 0.5% 1% 1%;
        width: calc(100% - 1.5%);
        height: calc(100% - 3%);
        position: absolute;
    }
    
    .content-container * {
        position: absolute;
    }
    
    .template {
        width: 100%;
        height: 100%;
        position: absolute;
        /* use template.jpg as  background with 50% opacity */
        background-image: url("template.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.2;
    }
    
    .panel-container>.content-container>.top-banner {
        margin: 0 3.6%;
        width: calc(100% - 7.2%);
        /* height: 21%; */
        height: calc(22% - .5%);
        background: url("resources/khung texxt.png");
        background-size: 100% 100%;
    }
    
    .panel-container>.content-container>.footer-banner {
        bottom: -1%;
        width: 100%;
        /* height: 21%; */
        height: 9.5%;
        background: url("resources/km.png");
        background-size: 100% 100%;
    }
    
    .screen-container {
        width: 100%;
        height: 100%;
    }
    
    .panel-container>.content-container .left-layout {
        width: 48.8%;
        height: 100%;
    }
    
    .panel-container>.content-container .right-layout {
        width: calc(100% - 48.8%);
        height: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
    }
    
    .panel-container>.content-container .left-layout .useless-info {
        background: url("resources/the.png");
        background-size: 100% 100%;
        left: 10%;
        right: 11.5%;
        top: 24%;
        bottom: 23.2%;
    }
    
    .useless-info>div {
        width: 100%;
        left: 2%;
        text-align: center;
    }
    /* rule for call-image inside  .left-layout*/
    
    .panel-container>.content-container .left-layout .call-image {
        background: url("resources/sddt.png");
        background-size: 100% 100%;
        inset: 81% 19.7% 10.3% 21.1%;
    }
    
    .right-layout .detail-info {
        top: 24%;
        left: 4%;
        right: 7%;
        bottom: 10%;
    }
    
    .detail-info * {
        position: relative;
    }
    
    .detail-info>* {
        width: 100%;
    }
    
    .price-selector {
        /* margin-top: 2.5%; */
        height: 13.5%;
        background: url("resources/khung bao.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .btn-minus {
        width: 17%;
        height: 91%;
        background: url("resources/tru.png");
        background-size: 100% 100%;
    }
    
    .price-value {
        width: 66%;
        height: 100%;
    }
    
    .btn-plus {
        width: 17%;
        height: 91%;
        background: url("resources/cong.png");
        background-size: 100% 100%;
    }
    
    .center-div {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        text-align: center;
        height: fit-content;
    }
    /* estimate-coin in side .right-layout */
    
    .detail-info>.estimate-coin {
        margin-top: 0.5%;
        height: 13.5%;
        background: url("resources/khung bao.png");
        background-size: 100% 100%;
        /* static */
        position: absolute;
        top: 25%;
    }
    
    .detail-info>.estimate-table {
        margin-top: 1.5%;
        height: 50.5%;
        background: url("resources/khung diem vip.png");
        background-size: 100% 100%;
        padding-top: 3%;
        /* static */
        position: absolute;
        bottom: 4.5%;
    }
    
    .estimate-table>.estimate-row {
        width: 100%;
        height: 24%;
        position: relative;
        color: white;
    }
    
    .estimate-row>* {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .estimate-row>.estimate-type {
        margin-left: 7%;
        float: left;
        color: #cdcf94;
        font-family: UTM_AVOBOLD;
        font-size: calc(0.013 * var(--font-size-ratio));
    }
    
    .estimate-row>.estimate-value {
        right: 15%;
        width: 4em;
        text-align: center;
        float: right;
        color: #f3b953;
        font-family: UTM_HELVEBOLD;
        font-size: calc(0.02 * var(--font-size-ratio));
    }
    
    .estimate-row>.btn-detail {
        float: right;
        margin-right: 7%;
        background-image: url("resources/hoi cham.png");
        background-size: 100% 100%;
        width: 7%;
        height: 56%;
    }
    /* create */
    /* UI Btn */
    
    .btn-UI-grp {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    
    .mod-UI-btn {
        padding-bottom: 2.66%;
        width: 12vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("resources/nM.png");
    }
    
    .card-UI-btn {
        padding-bottom: 2.66%;
        width: 15vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("resources/nt2.png");
    }
    /* LIST-SCREEN */
    
    .list-screen {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    
    .list-screen * {
        position: relative;
    }
    /* LIST-CARD */
    
    #wrapper {
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
    #wrapper>* {
        margin: 0;
    }
    
    .list-cards {
        position: absolute;
        top: 30%;
        left: 2.5%;
        width: 95%;
        height: 50%;
        overflow: visible;
        white-space: nowrap;
        display: flex;
    }
    
    .card-special {
        background-image: url("resources/than tai.png") !important;
    }
    
    .card {
        display: inline-block;
        width: calc(0.224 * var(--font-size-ratio));
        height: 100%;
        background-image: url("resources/the thuong.png");
        Background-size: 100% 100%;
    }
    
    #card-container {
        height: 100%;
        width: fit-content;
    }
    
    #wrapper::-webkit-scrollbar {
        display: none;
    }
    
    .card-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .card-component {
        position: absolute;
    }
    
    .card-cross-price {
        top: 5%;
        font-size: calc(0.012 * var(--font-size-ratio));
        display: flex;
        white-space: pre-wrap;
        font-family: UTM_AVOBOLD;
        color: #661a00;
    }
    
    .card-ingame-price {
        top: 10%;
    }
    
    .card-price {
        bottom: 9%;
    }
    /* CAROUSEL */
    
    .myCarousel {
        height: 100%;
    }
    
    .carousel-controller {
        top: 0%;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .carousel-controller-btn {
        background-repeat: no-repeat;
        background-size: contain;
        height: 30%;
        width: 10%;
        z-index: 1;
    }
    
    .carousel-controller-prev {
        left: -5%;
        background-image: url("resources/back.png");
    }
    
    .carousel-controller-next {
        right: -5%;
        background-image: url("resources/nexxt.png");
    }
    /* CARD-UI */
    
    .cardpay-box {
        width: 78%;
        height: 10%;
        position: absolute;
        left: 12%;
        background-image: url("resources/nhap ma the.png");
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 4%;
        padding-left: 5%;
        color: #7e161e;
        font-size: calc(0.02 * var(--font-size-ratio));
    }
    
    .cardpay-provider {
        top: 23%;
        left: 40%;
        height: 5%;
        width: 25%;
        background-image: url("resources/viettel.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .cardpay-price-selector {
        top: 30%;
    }
    
    .cardpay-seri-box {
        top: 42%;
    }
    
    .cardpay-code-box {
        top: 54%;
    }
    
    .cardpay-lower-component {
        width: 100%;
        height: 28%;
        position: absolute;
        bottom: 9%;
        display: flex;
        justify-content: center;
    }
    
    .cardpay-button {
        top: 10%;
        position: absolute;
        height: 40%;
        width: 50%;
        background-image: url("resources/bt nt.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    [contenteditable] {
        outline: 0px solid transparent;
    }
    
    [contentEditable=true]:empty:not(:focus):before {
        content: attr(data-text)
    }
    
    .top-banner {
        overflow: hidden;
    }
    
    .clock-wrapper {
        width: calc(0.15 * var(--font-size-ratio));
        display: flex;
        background-image: url("resources/khung time2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .pay-clock {
        font-family: UTM_HELVE;
        text-align: center;
        margin-left: 20%;
        top: 0%;
        font-size: calc(0.025 * var(--font-size-ratio));
    }
    
    .top-banner>.banner {
        width: 100%;
        height: 75%;
        top: 10%;
        position: absolute;
        right: -100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .banner>* {
        position: absolute;
    }
    
    .banner-line {
        color: #fef0ca;
        font-size: calc(0.027 * var(--font-size-ratio));
    }
    
    .banner-line-special {
        color: #feed86;
    }
    
    .banner-line-title {
        color: #fefa89;
    }
    
    .banner-line * {
        position: relative;
    }
    
    .top-banner>.banner.active {
        right: 0;
        transition: right 1s;
    }
    
    .top-banner>.banner.inactive {
        right: 100%;
        transition: right 1s;
    }
    
    .overlay-bg {
        width: 100vw;
        height: 100vh;
        background-color: #0000007d;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    #lookup-popup {
        left: 15%;
        top: 1%;
        right: 15%;
        position: absolute;
    }
    
    #lookup-popup>.popup-panel {
        width: 100%;
        height: 0;
        padding-bottom: 107%;
        position: absolute;
        background-size: 100% 100%;
        /* border-radius: 0.7em;
        overflow: hidden; */
    }
    
    .popup-panel>.popup-container {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 0.7em;
        overflow: hidden;
        background-color: #dfc69e;
    }
    
    .popup-container>.tab-container {
        background-color: #46797c;
        height: 7%;
    }
    
    .tab-container>.tab {
        width: calc(99.1% / 4);
        float: left;
        height: 100%;
        background-size: 100% 100%;
        font-family: "UTM_AVOBOLD";
        font-size: calc(0.02 * var(--font-size-ratio));
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fcfcfc;
    }
    
    .tab-container>.tab.active {
        background-image: url("resources/KHUNG 3.1.png");
        color: #fce6a4;
        text-shadow: 2px 2px black;
    }
    
    .tab-container>.tab-separate-line {
        width: 0.3%;
        float: left;
        height: 100%;
        background-image: url("resources/GACH 1.png");
        background-size: 100% 100%;
    }
    
    .popup-container>.coin-calculate {
        bottom: 2%;
        height: 15%;
        left: 4%;
        right: 4%;
        background-image: url("resources/KHUNG 5.png");
        background-size: 100% 100%;
        position: absolute;
    }
    
    .popup-container>.lookup-table {
        position: absolute;
        top: 9%;
        bottom: 19%;
        left: 4%;
        right: 4%;
        background-image: url("resources/KHUNG 4.png");
        background-size: 100% 100%;
    }
    
    .lookup-table>.table-body {
        background-color: #e0bd85;
        top: 10%;
        bottom: 0.22%;
        left: 0.22%;
        right: 0.22%;
        position: absolute;
        border-radius: 0 0 1.5% 1.5%;
        overflow-y: auto;
    }
    
    .lookup-table>.table-separate-line {
        height: 100%;
        background-image: url("resources/GACH 1.png");
        background-size: 100% 120%;
        width: 0.5%;
        left: 50%;
        top: 0;
        position: absolute;
    }
    
    .lookup-table>.table-head {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 10%;
        font-family: "UTM_AVOBOLD";
        font-size: calc(0.02 * var(--font-size-ratio));
        color: white;
    }
    
    .table-head>div {
        font-size: 1em;
        width: 50%;
        /* height: 100%; */
    }
    
    .table-row {
        display: none;
    }
    
    .row-container {
        height: fit-content;
    }
    
    .row-container>.table-row {
        height: calc(0.06 * var(--font-size-ratio));
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: calc(0.026 * var(--font-size-ratio));
        color: #c40700;
        font-family: "UTM_AVOBOLD";
    }
    
    .row-container>.table-row:nth-child(odd) {
        background-color: #ecd1a6;
    }
    
    .table-row>div {
        width: 100%;
    }
    
    #lookup-popup .lookup-close-btn {
        top: 0;
        right: 0;
        position: absolute;
        width: 8%;
        height: 0;
        padding-bottom: 8%;
        transform: translate(50%, -50%);
    }
    
    .close-btn {
        background-image: url("resources/tat.png");
        background-size: 100% 100%;
    }
    /* select2 */

    .cardpay-box .select2-selection__rendered{
        padding-top: calc(0.015 * var(--font-size-ratio)) !important;
        padding-left: calc(0.025 * var(--font-size-ratio)) !important;
        padding-bottom: calc(0.015 * var(--font-size-ratio)) !important;
        width: calc(0.38 * var(--font-size-ratio));
    
    }

    .cardpay-box .select2-selection__arrow{
        display: none;
    }
    .cardpay-box .select2-container--default .select2-selection--single{
        border: none;
    }
    
    .select2-dropdown {
        border: none;
        background-image: url("resources/1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: calc(-0.02 * var(--font-size-ratio));
        height: calc(0.3 * var(--font-size-ratio));;
        background-color: unset;
    }
    .select2-results {
        padding: 5px;
        height: 100%;
    }

    .select2-container--default .select2-results>.select2-results__options{
        max-height: 100% !important;
    }
    
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        color: #7e161e !important;
        background-color: #f6c33a;
    }
    
    .select2-container--default .select2-results__option--selected {
        background-color: #b5b5b500;
    }
    
    .select2-selection__rendered {
        color: #7e161e;
        font-family: UTM_AVOBOLD;
        font-size: calc(0.02 * var(--font-size-ratio));
    }
    
    .select2 * {
        color: #7e161e !important;
        line-height: normal !important;
        font-family: UTM_AVOBOLD;
        font-size: calc(0.02 * var(--font-size-ratio));
    }

    .select2-container{
        width: 100%;
        height: 100%;
    }
    
    .select2-container li {
        /* background-image: url("resources/nhap\ ma\ the.png"); */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #7e161e;
        font-family: UTM_AVOBOLD;
        font-size: calc(0.02 * var(--font-size-ratio));
        height: 5vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid gray;
    }
    /* font dèined  */
    
    @font-face {
        font-family: UTM_AVOBOLD;
        src: url(resources/fonts/UTM\ AVOBOLD.TTF);
    }
    
    :root {
        --font-size-ratio: calc(100vw - 60px);
    }
    /*  chỗ này bổ sung tương tự với md sm các thứ là xong */
    
    @media (min-width: 768px){
        :root {
            --font-size-ratio: 690px;
        }
    }
    @media (min-width: 992px){
        :root {
            --font-size-ratio: 910px;
        }
    }
    @media (min-width: 1200px) {
        :root {
            /* 1140 * lg-10*/
            --font-size-ratio: 920px;
        }
    }